################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/EventSystem/Debug
/EventSystem.sln
/EventSystem/Main.cpp
/EventSystem/EventSystem.vcxproj.user
/EventSystem/EventSystem.vcxproj.filters
/EventSystem/EventSystem.vcxproj
